{#{% extends '../base.html.twig' %}#}

{% block main %}
    <h1>The chosen dates are not valid! Please correct them </h1>
    <p>
                <a href="{{ path('booking_new') }}">return to the booking page</a>.
    </p>
{% endblock %}