{% extends '../base.html.twig' %}

{% block body %}
    <h1>Access Denied Error 403</h1>

    <h3>You do not have permission to access this resource.</h3>
    <h4><a href="{{ path('car_index') }}">return to the homepage</a></h4>
{% endblock %}